/* container 1 bg */

.container_1_bg{
    height: 100vh;
    background:  #020D19;
    display: flex; 
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.Home_bg_circle{
    width: 1050px;
    height: 1050px;
    background: radial-gradient(70.71% 70.71% at 50% 50%, #CC6906 0%, #B15700 5.02%, #662B00 55%, rgba(46, 22, 12, 0.20) 90.88%, rgba(13, 13, 13, 0.00) 100%);
    border-radius: 50%;
    position: absolute;
    top: 20%;
}

/* container 1 content */

.home_container_1{
    height: 100vh;
    background:  transparent;
    margin-top: -100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.home_content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.greeting{
    color: #FFF;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container_1_heading{
    color: #FFF;
    font-family: "IBM Plex Sans Condensed";
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 140px;
    letter-spacing: 1.92px;
}

.container_1_description{
    color: #E6E6E6;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
}

.contaier_1_buttons{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.container_1_btn{
    padding: 14px 50px;
    border-radius: 40px;
    color: #E6E6E6;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

.container_1_btn_1{
    border: 2px solid #F17514;
    background: #C60;
    transition: 300ms ease-out;
}

.container_1_btn_2{
    border: 2px solid transparent;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.06) 100%);
    transition: 300ms ease-out;
}

.container_1_btn_1:hover{
    background-color: transparent;
}

.container_1_btn_2:hover{
    background: transparent;
    border: 2px solid #c60;
}

.home_container_1_box{
    width: 80%;
    border-radius: 24px;
    background: #0D0D0D;
    border: 2px solid #CC6906;
    height: 200px;
    position: relative;
    /* top: 30px; */
}

.bottom_shadow_container{
    height: 10rem;
    background-image: linear-gradient(180deg, transparent, #020D19);
    position: relative;
    top: 2px;
    background-color: transparent;
    margin-top: -10rem;
}

/* container_2 */

.home_container_2{
    height: 100vh;
    background-color: #020D19;
    color: white;
    overflow: hidden;
}

.home_container_2{
    display: grid;
    grid-template-columns: 60% 40%;
}

.home_container_2_content{
    padding: 10%;
    display: flex;
    flex-direction: column;
}

.home_container_2_heading{
    color: #FFF;
    font-family: "IBM Plex Sans Condensed";
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.76px;
}

.container_2_para{
    color: #FFF;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
}

.container_2_images{
    display: flex;
    gap: 50px;
}

.container_2_images{
    width: 230px;
    height: auto;
}

.container_2_slide_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container_2_slide_1_images{
    animation: slideX 10s linear infinite;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container_2_slide_2_images{
    animation: slideX 10s linear infinite reverse;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

@keyframes slideX{
    0%{
        transform: translateY   (0);
    }
    100%{
        transform: translateY(-100%);
    }
}

/* container 4 */




@media (max-width : 800px){
    .Home_bg_circle{
        width: 700px;
        height: 700px;
        top: 40%;
    }

    .greeting{
        font-size: 20px;
    }

    .container_1_heading{
        font-size: 64px;
        line-height: 100px;
    }
}

@media (max-width : 450px){

    .Home_bg_circle{
        width: 290px;
        height: 290px;
        top: 50%;
    }s

    .greeting{
        font-size: 18px;
    }

    .container_1_heading{
        font-size: 32px;
        line-height: 70px;
    }

    .container_1_description{
        font-size: 10px;
    }

    .home_container_1_box{
        height: 100px;
    }

    .container_1_btn{
        padding: 8px 10px;
    }

    /* container 2 */

    .home_container_2_heading{
        font-size: 26px;
    }

    .container_2_para{
        font-size: 12px;
    }

    .container_2_images{
        width: 80px;
        height: auto;
    }

    .container_2_images{
        gap: 20px;
    }
}