.container {
  padding: 70px 20px 40px;
  background: #020D19;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
  color: #ffffff;
}

/* Headings */
.privacyPolicyHeading {
  font-size: 32px;
  color: #FFF;
  text-decoration: underline;
  margin-bottom: 20px;
  font-family: "IBM Plex Sans Condensed";

}

.subHeading {
  font-size: 22px;
  margin-top: 35px;
  color: #FFF;
  text-decoration: underline;
  font-family: "IBM Plex Sans Condensed";

}

.sectionContent {
  font-size: 18px;
  margin-top: 20px;
  color: #FFF;
  font-family: "DM Sans";

}

/* Paragraph */
p {
  margin-bottom: 15px;
}

/* Lists */
ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.listItem {
  margin-bottom: 8px;
  font-family: "DM Sans";
}

/* Highlight lines */
.highlight {
  color: #d32f2f;
  font-weight: bold;
  margin-top: 10px;
  font-family: "DM Sans";
}

/* Contact section */
.contact {
  font-weight: 600;
  margin-top: 20px;
  font-family: "DM Sans";
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 90px 20px 20px;
    /* margin: 20px; */
  }

  .privacyPolicyHeading {
    font-size: 24px;
  }

  .subHeading {
    font-size: 18px;
  }
}