.container {
  padding: 110px 40px 40px;
  background: #020D19;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
  color: #ffffff;
}

/* Headings */
h1 {
  font-size: 32px;
  color: #FFF;
  text-decoration: underline;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
  margin-top: 35px;
  color: #FFF;
  text-decoration: underline;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  color: #FFF;

}

/* Paragraph */
p {
  margin-bottom: 15px;
}

/* Lists */
ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 8px;
}

/* Highlight lines */
.highlight {
  color: #d32f2f;
  font-weight: bold;
  margin-top: 10px;
}

/* Contact section */
.contact {
  font-weight: 600;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 90px 20px 20px;
    /* margin: 20px; */
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }
}