.Seo_Container_2 {
    padding: 4% 8%;
}

.text-center {
    text-align: center;
}

.SeoContentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.container_margin {
    margin-top: 65px;
}

.SeoImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SeoImage img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.SeoLists {
    display: flex;
    gap: 40px;
}

.faqMarginTop {
    margin-top: 60px;
}

@media (max-width : 900px) {

    .SeoContentContainer {
        flex-direction: column;
    }

    .faqMarginTop{
        margin-top: 40px;
    }
}

@media (max-width : 500px) {
    .SeoImage img {
        width: 300px;
        height: auto;
    }

    .column_reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .SeoContentContainer{
        gap: 50px;
    }

    .SeoLists{
        flex-direction: column;
        gap: 0;
    }
}