.footer{
    background-color: #020D19;
    overflow: hidden;
    height: 700px;
}

.footer_background{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 700px;
    overflow: hidden;
    z-index: 2;
}

.blue_ellipse{
    background: #2D63BA;
    filter: blur(130px);
    border-radius: 50%;
    width: 400px;
    height: 400px;
    position: relative;
    animation: rotate 10s linear infinite;
    animation-delay: 2s;
    z-index: 3;
}

.orange_ellipse{
    background: #F99B2B;
    filter: blur(130px);
    border-radius: 50%;
    width: 400px;
    height: 400px;   
    position: relative;
    animation: anime 10s linear infinite;
    z-index: 3;
}

@keyframes rotate{
    0%{
        top: 0;
        left: 0;  
    }
    25%{
        top: 0;
        left: 90%;  
    }
    50%{
        top: 70%;
        left: 80%;  
    }
    75%{
        top: 70%;
        left: 0;  
    }
    100%{
        top: 0;
        left: 0;  
    }
}

@keyframes anime{
    0%{
        top: 0;
        right: 0;
    }
    25%{
        top: 70%;
        right: 0;
    }
    50%{
        top: 70%;
        right: 80%;
    }
    75%{
        top: 0;
        right: 80%;
    }
    100%{
        top: 0;
        right: 0;
    }
}

/* footer content container */

.footer_content_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: 700px;
    position: relative;
    z-index: 4;
}

.footer_image{
    width: 230px;
    height: 230px;
    background: #2C2C3D;
    border-radius: 16px;
    overflow: hidden;
}

.brain{
    background-color: yellow;
    -webkit-background-clip: text;
    font-size: 80px;
    position: relative;
    animation: brain ease-in infinite;
    animation-duration: 8s;
}

@keyframes brain{

    0%{
        left: 90px;
        top: 0;
        color: #fff;
    }
    25%{
        left: 154px;
        top: 90px;
        color: orange;
    }
    50%{
        left: 100px;
        top: 154px;
        color: #2D63BA;
    }
    75%{
        left: 0px;
        top: 100px;
        color: yellow;
    }
    100%{
        left: 90px;
        top: 0;
        color: #fff;
    }

}

.footer_image img{
    width: 200px;
    height: auto;
}

.footer_content{
    background-color: #161515;
    border-radius: 20px;
    padding: 10% 5%;
}

.footer_content_1{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.hyperLinks{
    display: flex;
    gap: 50px;
    width: 560px;
}

.superlist_heading{
    color: #F84F39;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    margin-bottom: 20px;
}

.servicesListItems{
    display: flex;
    gap: 20px;
}

.social_heading{
    color: #2A966F;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    margin-bottom: 20px;
}

.contact_details{
    width: 200px;
}

.contact_info_heading{
    color: #2C63BA;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    margin-bottom: 20px;
}

.superlist {
    display: flex;
    gap: 50px;
    width: 100%;
}

.footer_lists{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.superlistItem{
    width: 90px;
}

.footer_service_lists{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.contact_lists{
    list-style-type: none;
    color: #F8F8F8;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.footer_list_item{
    list-style-type: none;
    color: #F8F8F8;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-decoration: none;
}

.copyrights{
    color: #696F81;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    z-index: 100;
    height: 20px;
    text-align: center;
    /* margin-top: 20px; */
    position: relative;
    top: 80px;
}

.f_services_heading{
    color: #FDBA66;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    margin-bottom: 20px;
}

@media (max-width : 1150px){

    .footer{
        height: 1100px;
    }

    .footer_background{
        height: 1100px;
    }

    .footer_content_container{
        height: 1100px;
    }

    .hyperLinks{
        width: 100%;
        gap: 50px;
    }

    .footer_content_1{
        flex-direction: column;   
        align-items: center;   
    }

    .footer_content{
        gap: 30px;
    }

    .contact_details{
        width: 100%;
        margin-top: 20px;
    }

}

@media (max-width : 850px){
    .footer{
        height: 1100px;
    }

    .footer_background{
        height: 1100px;
    }

    .footer_content_container{
        height: 900px;
    }

    .hyperLinks{
        width: 100%;
        gap: 50px;
        margin-top: 20px;
    }

    .footer_content{
        position: relative;
        top: 100px;
    }

    .footer_content_1{
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 1300px; */
    }

    .copyrights{
        position: relative;
        top: 60px;
    }

    .contact_details{
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width : 500px){

    .footer{
        height: 1600px;
    }

    .footer_background{
        height: 1600px;
    }

    .footer_content_container{
        height: 1300px;
    }
    

    .social_heading, .superlist_heading, .contact_info_heading{
        font-size: 16px;
    }

    .footer_content{
        padding: 16% 4%;
    }

    .footer_list_item, .contact_lists{
        font-size: 12px;
    }

    .superlist{
        gap: 50px;
    }

    .hyperLinks{
        gap: 50px;
        flex-direction: column;
    }

    .copyrights{
        position: relative;
        top: 40px;
    }

    .contact_details{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer_lists_address{
        width: 300px;
    }

    .heading_center{
        width: 100%;
        text-align: center;
    }

}