.visionContainer{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 5%;
    height: 80vh;
}

.Vision_content{
    height: 450px;
    overflow: hidden;
}

.missionActive{
    transform: translateY(-450px);
    transition: 1s ease-in;
    animation: popup 1s ease-out;
}

.visionActive{
    transform: translateY(0px);
    transition: 1.2s ease-out;
    animation: popDown 1s ease-in;
}

@keyframes popup{
    0%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(-450px);
    }
}

@keyframes popDown{
    0%{
        transform: translateY(-450px);
    }
    60%{
        transform: translateY(-390px);
    }
    100%{
        transform: translateY(0);
    }
}

.Vision{
    background-image: url('../../assets/images/Vision.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 10%;
    position: relative;
    border-radius: 30px;
}

.Mission{
    background-image: url('../../assets/images/Mission.png');
    background-attachment: fixed;
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 10%;
    position: relative;
    border-radius: 30px;
}

.vision_heading{
    color: #FFF;
    font-family: "IBM Plex Sans Condensed";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.4px;
    text-align: center;
}

.vision_para{
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button_circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_buttons{
    color: white;
    font-size: 26px;
}

.FlexButtons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width : 800px){

    .visionContainer{
        flex-direction: column;
    }

    .FlexButtons{
        flex-direction: row;
    }

    .Vision_content{
        height: 350px;
    }

    .Vision{
        height: 350px;
    }

    .Mission{
        height: 350px;
    }

    .missionActive{
        transform: translateY(-350px);
        transition: 1s ease-in;
        animation: popup 1s ease-out;
    }
    
    .visionActive{
        transform: translateY(0px);
        transition: 1.2s ease-out;
        animation: popDown 1s ease-in;
    }

    @keyframes popup{
        0%{
            transform: translateY(0);
        }
        60%{
            transform: translateY(-60px);
        }
        100%{
            transform: translateY(-350px);
        }
    }
    
    @keyframes popDown{
        0%{
            transform: translateY(-350px);
        }
        60%{
            transform: translateY(-290px);
        }
        100%{
            transform: translateY(0);
        }
    }


}

@media (max-width: 500px){

    .vision_heading{
        font-size: 42px;
    }

    .vision_para{
        font-size: 14px;
    }
}